@charset "UTF-8";
/*IMPORTS*/
/*VARIABLES*/
@font-face {
  font-family: "ShlopShloppy-Regular";
  src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot");
  src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff") format("woff"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.svg#ShlopShloppy-Regular") format("svg"); }

/*-----------------------------------*/
/*BODY*/
body {
  background-color: #000000;
  background-image: url("../grafica/bannerIndex2.png");
  z-index: 100;
  width: 100%;
  overflow-x: hidden; }

/*HEADER SOLO DEL INDEX*/
.header__header--index {
  min-height: 30em;
  max-height: auto; }

/*NAVBAR DEL SITIO ENTERO*/
.header__navbar {
  border: 1px solid #1A1A13;
  background-color: #161612;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  padding-top: 2em;
  padding-bottom: 1em;
  justify-content: space-between;
  /*MENÚ*/ }
  .header__navbar .logo {
    max-width: 50%;
    margin-left: 15vw; }
  .header__navbar .navbar-nav {
    display: block;
    /*SUBMENÚ - LINE UP*/ }
    .header__navbar .navbar-nav .navbar-toggler {
      color: #F36A1F; }
    .header__navbar .navbar-nav .nav-item {
      list-style-type: none;
      font-family: 'Bebas Neue';
      font-size: 115%;
      padding: 4px 6px;
      text-decoration: none;
      text-align: center; }
      .header__navbar .navbar-nav .nav-item li a {
        display: block;
        margin-inline-start: 0%;
        font-family: 'Bebas Neue';
        font-size: 110%;
        text-decoration: none;
        color: #F38A1F; }
      .header__navbar .navbar-nav .nav-item a:hover {
        background-color: #F38A1F;
        color: black; }
    .header__navbar .navbar-nav .nav-link {
      color: #F38A1F; }
      .header__navbar .navbar-nav .nav-link li ul {
        display: block;
        color: black; }
    .header__navbar .navbar-nav .dropdown-menu {
      width: 100% !important;
      height: 120px !important;
      background-color: #1a1a15;
      text-align: center;
      padding-bottom: 2em; }
      .header__navbar .navbar-nav .dropdown-menu .dropdown-menu:hover {
        background-color: #1a1a15; }

/*FOOTER DE TODO EL SITIO*/
.footer__nav {
  font-family: 'Bebas Neue';
  width: auto;
  margin-top: 10px;
  background-color: #161612;
  color: white;
  padding-top: 1%;
  overflow: visible;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .footer__nav .footer__menuFooter {
    list-style-type: none;
    margin-inline-start: 5em;
    font-size: 2.5vw;
    color: #F38A1F;
    padding: .2em .4em;
    text-decoration: none; }
    .footer__nav .footer__menuFooter li {
      display: inline; }
      .footer__nav .footer__menuFooter li a {
        margin-inline-start: 1.5em;
        padding: 1em;
        display: inline;
        color: #F3861F;
        text-decoration: none;
        justify-content: space-around; }
  .footer__nav .footer__creditos {
    text-align: center;
    margin-bottom: 4%; }

/*-----------------------*/
/*INDEX*/
.media {
  margin-left: .5em;
  margin-right: .5em;
  border: 1px solid #1A1A13;
  padding: 1%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  display: block;
  justify-content: space-between; }
  .media h1,
  .media h2 {
    font-family: 'Bebas Neue', cursive;
    color: #F3661F;
    margin-left: .1em;
    font-size: 45px;
    padding-top: 10px; }
  .media p {
    color: #F38A1F;
    font-family: 'Archivo', sans-serif;
    padding: 5px;
    font-size: larger;
    margin-right: 2em;
    line-height: 30px;
    padding-top: 2em; }
  .media .banner {
    width: 100%;
    height: auto; }

/*-----------------------*/
/*ACERCA DE*/
.acercaDe {
  margin-inline-start: .5em;
  align-self: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  margin-top: 2em;
  margin-right: .5em; }
  .acercaDe .acercaDe__body {
    display: flex;
    flex-direction: column-reverse; }
    .acercaDe .acercaDe__body .acercaDe__texto {
      margin-left: 2em;
      margin-right: 2em; }
      .acercaDe .acercaDe__body .acercaDe__texto h1 {
        font-family: 'Bebas Neue', cursive;
        color: #F3661F;
        margin-left: .1em;
        font-size: 45px;
        padding-top: 2em; }
      .acercaDe .acercaDe__body .acercaDe__texto p {
        color: #F38A1F;
        font-family: 'Archivo', sans-serif;
        padding: 5px;
        margin-right: 2%;
        line-height: 30px;
        padding-top: 2em;
        font-size: 20px; }
  .acercaDe .acercaDe__container {
    margin-left: 1em;
    margin-right: 2em; }
    .acercaDe .acercaDe__container .acercaDe__body--banner {
      width: 45%;
      max-width: 100%;
      height: auto;
      transform: rotate(90deg) translateY(-30%); }

/*-----------------------*/
/*LINE UP*/
.lineup__container {
  margin-right: 1.2em; }
  .lineup__container .section__lineUp .row {
    margin-left: .5em;
    margin-top: 2em;
    flex-wrap: wrap;
    background-color: #161612;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32); }
    .lineup__container .section__lineUp .row h1 {
      font-family: 'Bebas Neue', cursive;
      color: #F36A1F;
      text-align: center;
      font-size: 2.3em;
      padding-top: .3em;
      margin-top: .2em;
      color: #F36A1F;
      height: 60px; }
    .lineup__container .section__lineUp .row .lineup__container--peliculas {
      align-items: flex-start; }
      .lineup__container .section__lineUp .row .lineup__container--peliculas .section__pelicula {
        padding: 1em  0em 0em; }
        .lineup__container .section__lineUp .row .lineup__container--peliculas .section__pelicula h2 {
          font-family: 'Bebas Neue', cursive;
          padding: 0.5em .5em 1.5em;
          font-size: 1.5em;
          height: 30px;
          background-color: #F36A1F;
          color: #161612; }
        .lineup__container .section__lineUp .row .lineup__container--peliculas .section__pelicula h3 {
          font-family: 'Bebas Neue', cursive;
          padding: 0.5em 1em 1.5em;
          font-size: 1.4em;
          height: 30px;
          background-color: #F36A1F;
          color: #161612; }
        .lineup__container .section__lineUp .row .lineup__container--peliculas .section__pelicula .section__pelicula--sinopsis {
          display: flex;
          flex-direction: row;
          margin: 1em 0em; }
          .lineup__container .section__lineUp .row .lineup__container--peliculas .section__pelicula .section__pelicula--sinopsis .poster {
            margin-top: 1em;
            width: 50%;
            height: 50%;
            box-shadow: 0 1px 4px 0 #F36A1F; }
          .lineup__container .section__lineUp .row .lineup__container--peliculas .section__pelicula .section__pelicula--sinopsis p {
            margin-top: .2em;
            padding-left: 1em;
            color: #F38A1F;
            font-family: 'Archivo', sans-serif;
            line-height: 2em;
            font-size: 1.1em;
            text-align: justify; }

/*-----------------------*/
/*CONTACTO*/
.body__contacto {
  margin-top: 2em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  display: flex;
  flex-direction: column; }
  .body__contacto .formulario__container {
    padding: 2em;
    font-family: 'Bebas neue';
    color: #F38A1F; }
    .body__contacto .formulario__container .formulario__checkbox input {
      background-color: #F3661F; }
    .body__contacto .formulario__container .formulario__nombre label {
      margin-bottom: 0%;
      font-family: 'Bebas neue';
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612; }
    .body__contacto .formulario__container .formulario__nombre input {
      font-family: 'Bebas neue';
      margin-bottom: 1em;
      background-color: black; }
    .body__contacto .formulario__container .formulario__correo label {
      margin-bottom: 0%;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612; }
    .body__contacto .formulario__container .formulario__correo input {
      margin-top: 1em;
      margin-bottom: 1em;
      color: #F38A1F;
      background-color: black; }
    .body__contacto .formulario__container select {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 1em; }
    .body__contacto .formulario__container .formulario__mensaje {
      border-radius: 2px; }
      .body__contacto .formulario__container .formulario__mensaje label {
        padding: 0.5%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32); }
      .body__contacto .formulario__container .formulario__mensaje input {
        margin-top: 1em;
        margin-bottom: 1em; }
      .body__contacto .formulario__container .formulario__mensaje textarea {
        width: 100%; }
    .body__contacto .formulario__container .formulario__checkbox .form-check {
      margin-bottom: 1em; }
    .body__contacto .formulario__container .formulario__checkbox .btn-primary {
      background-color: #F38A1F;
      border-color: #F3861F;
      font-family: 'Bebas neue';
      color: black; }
  .body__contacto .body__contacto--data {
    display: block;
    margin-top: 2em;
    margin-left: 1em;
    padding-left: 1em; }
    .body__contacto .body__contacto--data h1,
    .body__contacto .body__contacto--data h2 {
      font-family: 'Bebas neue';
      margin-left: 0px;
      padding: 0px;
      font-size: 2em;
      height: 30px;
      color: #F38A1F; }
    .body__contacto .body__contacto--data p {
      color: #F38A1F; }
    .body__contacto .body__contacto--data iframe {
      width: 100%;
      height: 100%;
      padding-right: 2em; }
    .body__contacto .body__contacto--data .body__contacto--redes {
      margin-top: 1em;
      font-family: 'Archivo';
      margin-right: 4em;
      padding: 0px;
      font-size: 1em;
      color: #F36A1F; }

/*-----------------------*/
/*MERCHANDISING*/
.merchandising__proximamente {
  min-height: 60vw;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  /*-----------------------------------*/ }
  .merchandising__proximamente .merchandising__logo {
    margin-top: .5em;
    padding: 2em .5em 4em; }
    .merchandising__proximamente .merchandising__logo h1 {
      text-align: center;
      font-family: 'ShlopShloppy-Regular';
      color: #F38A1F;
      text-shadow: -.05em -.0010em #913106;
      font-size: 16vw;
      padding-bottom: .5em; }
    .merchandising__proximamente .merchandising__logo .proximamente .merch--banner {
      background-color: #F36A1F;
      margin-top: 0%;
      padding: .5em;
      position: relative;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      margin-left: 10%;
      margin-right: auto;
      width: 80%; }
    .merchandising__proximamente .merchandising__logo .proximamente h2 {
      font-family: 'ShlopShloppy-Regular';
      color: #F38A1F;
      text-shadow: -0.04em -.020em #913106;
      font-size: 10vw;
      text-align: center;
      position: absolute;
      opacity: 0;
      top: 100vw;
      left: 50%;
      transform: translate(-50%, -50%); }
    .merchandising__proximamente .merchandising__logo .proximamente:hover .merch--banner {
      opacity: 0.3;
      transition: .5s ease;
      backface-visibility: hidden; }
    .merchandising__proximamente .merchandising__logo .proximamente:hover h2 {
      opacity: 1;
      transition: .5s ease; }
  .merchandising__proximamente .merchandising__newsletter .row {
    margin-bottom: 2em;
    padding-bottom: 2em;
    margin-right: auto;
    display: block; }
    .merchandising__proximamente .merchandising__newsletter .row .input-group {
      margin: 0vw 8vw;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      justify-content: center; }
      .merchandising__proximamente .merchandising__newsletter .row .input-group .input-group-text {
        font-family: 'Bebas neue';
        background-color: #F38A1F;
        border-color: #F38A1F; }
      .merchandising__proximamente .merchandising__newsletter .row .input-group input[type=text] {
        color: black;
        font-family: 'Bebas neue';
        background-color: #f8a150;
        border-color: #F38A1F; }
    .merchandising__proximamente .merchandising__newsletter .row .btn-primary {
      margin-left: 40vw;
      background-color: #F38A1F;
      border-color: #F3861F;
      font-family: 'Bebas neue';
      color: black; }
    .merchandising__proximamente .merchandising__newsletter .row .modal-header, .merchandising__proximamente .merchandising__newsletter .row .modal-footer {
      color: black;
      background-color: #F3661F;
      font-family: 'Bebas neue';
      border-color: #F3661F; }
      .merchandising__proximamente .merchandising__newsletter .row .modal-header .btn-secondary, .merchandising__proximamente .merchandising__newsletter .row .modal-footer .btn-secondary {
        margin-left: 44vw;
        background-color: #F38A1F;
        border-color: #F3661F;
        font-family: 'Bebas neue';
        color: black; }
    .merchandising__proximamente .merchandising__newsletter .row .modal-body {
      color: black;
      background-color: #F3661F;
      font-family: 'Archivo'; }

@media (min-width: 768px) {
  .logo {
    max-width: 10%;
    margin-left: 15vw; }
  .lineup__container {
    margin-right: auto; }
  .section__lineUp {
    margin-left: 5em;
    width: 87vw;
    justify-self: center; }
    .section__lineUp .row {
      margin-left: -.5em; }
      .section__lineUp .row .lineup__container--peliculas .section__pelicula .section__pelicula--sinopsis {
        margin: 0em 2em;
        flex-direction: row; }
        .section__lineUp .row .lineup__container--peliculas .section__pelicula .section__pelicula--sinopsis .poster {
          max-width: 20%;
          max-height: 20%; }
          .section__lineUp .row .lineup__container--peliculas .section__pelicula .section__pelicula--sinopsis .poster:hover {
            transform: scale(1.2, 1.2);
            transition: transform .5s; }
  /* MFContacto.html*/
  /*FORMULARIO*/
  .body__contacto {
    margin-left: 2em;
    margin-right: 2em;
    flex-direction: row; }
    .body__contacto .body__contacto--data {
      margin-left: 2em;
      padding-left: 4em; }
      .body__contacto .body__contacto--data h1, .body__contacto .body__contacto--data h2 {
        font-size: 2.5em;
        margin-bottom: 1em; }
      .body__contacto .body__contacto--data iframe {
        min-width: 100%;
        height: 250px;
        padding-right: 2em; }
  /*-----------------------------------*/
  .footer__menuFooter {
    list-style-type: none;
    font-family: 'Bebas Neue';
    font-size: 2.5vw;
    color: #F38A1F;
    margin-left: 5vw;
    text-decoration: none; }
    .footer__menuFooter li {
      display: inline; }
      .footer__menuFooter li a {
        margin-inline-start: 2.5em;
        font-family: 'Bebas Neue';
        padding: 1em;
        display: inline;
        color: #F3861F;
        text-decoration: none;
        justify-content: space-around; }
  .footer__creditos {
    text-align: center;
    margin-bottom: 4%;
    font-size: 2.5vw; } }

@media (min-width: 992px) {
  .header__header--index {
    min-height: 550px; }
  /*NAVBAR DEL SITIO ENTERO*/
  .header__navbar {
    border: 1px solid #1A1A13;
    border-radius: 25px;
    background-color: #161612;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
    margin: 15px 5em 0px;
    padding: 1em 15vw; }
    .header__navbar .container-fluid {
      display: inline-block; }
      .header__navbar .container-fluid .logo {
        max-width: 250px;
        margin-left: 17vw; }
      .header__navbar .container-fluid .navbar-nav {
        display: flex;
        flex-direction: row;
        text-align: center; }
        .header__navbar .container-fluid .navbar-nav .nav-item {
          list-style-type: none;
          margin-left: 4vw;
          font-family: 'Bebas Neue';
          font-size: 125%;
          padding: 4px 10px;
          text-decoration: none;
          text-align: center;
          justify-content: space-around; }
          .header__navbar .container-fluid .navbar-nav .nav-item a:hover {
            background-color: #F38A1F;
            color: black; }
          .header__navbar .container-fluid .navbar-nav .nav-item li a {
            display: block;
            margin-inline-start: 0%;
            font-family: 'Bebas Neue';
            font-size: 115%;
            display: inline;
            text-decoration: none;
            color: #F38A1F; }
        .header__navbar .container-fluid .navbar-nav .nav-link {
          color: #F38A1F;
          padding: 10px; }
        .header__navbar .container-fluid .navbar-nav .dropdown-menu {
          width: 50% !important;
          height: 100px !important;
          background-color: #1a1a15;
          text-align: center;
          padding-bottom: 2em; }
          .header__navbar .container-fluid .navbar-nav .dropdown-menu .dropdown-menu:hover {
            background-color: #1a1a15; }
  /*FOOTER DE TODO EL SITIO*/
  .footer__nav {
    justify-content: space-between; }
    .footer__nav .footer__creditos {
      text-align: center;
      margin-bottom: 4%;
      font-size: 1.5vw; }
    .footer__nav .footer__menuFooter {
      font-size: 2.5vw; }
      .footer__nav .footer__menuFooter li a {
        margin-inline-start: 6.5em;
        font-size: 20px;
        padding: 4px 6px;
        text-align: center;
        justify-content: space-evenly; }
  /*-----------------------*/
  /*CONTENIDO INDEX*/
  .media {
    display: flex;
    flex-direction: row; }
    .media .media-body {
      flex-wrap: nowrap; }
      .media .media-body h1,
      .media .media-body h2 {
        margin-left: .1em;
        font-size: 45px;
        padding-top: 10px; }
      .media .media-body p {
        margin-right: 2em;
        line-height: 30px;
        padding-top: 1em; }
    .media .banner {
      padding-left: 1em;
      height: 25em;
      width: auto;
      padding-top: 10px; }
  /* ACERCA DE*/
  .acercaDe .acercaDe__body {
    display: flex;
    flex-direction: row; }
    .acercaDe .acercaDe__body .acercaDe__texto {
      margin-left: 4em;
      margin-top: 4em; }
      .acercaDe .acercaDe__body .acercaDe__texto h1 {
        margin-left: .1em;
        font-size: 3.5em;
        margin-top: -1em; }
      .acercaDe .acercaDe__body .acercaDe__texto p {
        font-size: 20px;
        margin-right: 4em;
        line-height: 2.5em;
        padding-top: .8em; }
  .acercaDe .acercaDe__container {
    margin-right: 4em;
    margin-top: -7em;
    margin-left: 4em; }
    .acercaDe .acercaDe__container .acercaDe__body--banner {
      width: 1000px;
      height: auto;
      transform: rotate(-180deg) translateY(-30%);
      margin-bottom: 20em; }
  /* CONTACTO*/
  /*FORMULARIO*/
  .body__contacto {
    margin-left: 5em;
    margin-right: 5em;
    flex-direction: row; }
    .body__contacto .formulario__container {
      padding-left: 4em; }
    .body__contacto .body__contacto--data {
      margin-left: 5em;
      padding: 0em 4em; }
      .body__contacto .body__contacto--data h1, .body__contacto .body__contacto--data h2 {
        font-size: 2.5em;
        margin-bottom: 1em; }
      .body__contacto .body__contacto--data iframe {
        width: 40vw;
        height: 250px;
        padding-right: 2em; }
  /*MFMerchandisingProximamente*/
  .merchandising__proximamente {
    min-height: 800px;
    margin: .5em 5em; }
    .merchandising__proximamente .merchandising__logo {
      margin-top: 50px;
      padding-top: 2em; }
      .merchandising__proximamente .merchandising__logo h1 {
        margin-left: auto;
        margin-right: auto;
        padding-top: .5em;
        font-family: 'ShlopShloppy-Regular';
        color: #F38A1F;
        text-shadow: -0.04em -.020em #913106;
        font-size: 10vw;
        align-self: center; }
      .merchandising__proximamente .merchandising__logo .proximamente .merch--banner {
        background-color: #F36A1F;
        padding: .5em;
        position: relative;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32); }
      .merchandising__proximamente .merchandising__logo .proximamente h2 {
        font-family: 'ShlopShloppy-Regular';
        color: #F38A1F;
        text-shadow: -0.04em -.020em #913106;
        font-size: 10vw;
        text-align: center;
        position: absolute;
        opacity: 0;
        top: 60vw;
        left: 51%;
        transform: translate(-50%, -50%); }
      .merchandising__proximamente .merchandising__logo .proximamente:hover .merch--banner {
        opacity: 0.3;
        transition: .5s ease;
        backface-visibility: hidden; }
      .merchandising__proximamente .merchandising__logo .proximamente:hover h2 {
        opacity: 1;
        transition: .5s ease; }
    .merchandising__proximamente .merchandising__newsletter {
      margin-top: 5em;
      padding-bottom: 2em; }
      .merchandising__proximamente .merchandising__newsletter .row {
        margin-right: 15%; }
        .merchandising__proximamente .merchandising__newsletter .row .btn-primary {
          align-self: center; }
  /*-----------------------------------*/ }

/*-----------------------*/
