/*IMPORTS*/
/*VARIABLES*/
@font-face {
  font-family: "ShlopShloppy-Regular";
  src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot");
  src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff") format("woff"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.svg#ShlopShloppy-Regular") format("svg"); }

/*-----------------------------------*/
/*BODY*/
body {
  background-color: #000000;
  background-image: url("../grafica/bannerIndex2.png");
  z-index: 100;
  width: auto; }

/*HEADER SOLO DEL INDEX*/
.header__header--index {
  min-height: 30em;
  max-height: auto;
  max-width: auto; }

/*NAVBAR DEL SITIO ENTERO*/
.header__navbar {
  border: 1px solid #1A1A13;
  background-color: #161612;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  width: auto;
  padding-top: 2em;
  padding-bottom: 1em;
  justify-content: space-between; }
  .header__navbar .logo {
    max-width: 300px;
    margin-left: 15vw; }
  .header__navbar .navbar-nav {
    display: block; }
    .header__navbar .navbar-nav .navbar-toggler {
      color: #F36A1F; }
    .header__navbar .navbar-nav .nav-item {
      list-style-type: none;
      margin-left: 3.5em;
      font-family: 'Bebas Neue';
      font-size: 115%;
      padding: 4px 6px;
      text-decoration: none;
      text-align: center; }
      .header__navbar .navbar-nav .nav-item li a {
        display: block;
        margin-inline-start: 0%;
        font-family: 'Bebas Neue';
        font-size: 110%;
        text-decoration: none;
        color: #F38A1F; }
      .header__navbar .navbar-nav .nav-item a:hover {
        background-color: #F38A1F;
        color: black; }
    .header__navbar .navbar-nav .nav-link {
      color: #F38A1F; }
      .header__navbar .navbar-nav .nav-link li ul {
        display: block;
        color: black; }
    .header__navbar .navbar-nav .dropdown-menu {
      width: 100% !important;
      height: 120px !important;
      background-color: #1a1a15;
      text-align: center;
      padding-bottom: 2em; }
      .header__navbar .navbar-nav .dropdown-menu .dropdown-menu:hover {
        background-color: #1a1a15; }

/*FOOTER DE TODO EL SITIO*/
.footer__nav {
  font-family: 'Bebas Neue';
  margin-top: 10px;
  background-color: #161612;
  color: white;
  padding-top: 1%;
  overflow: visible;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.footer__menuFooter {
  list-style-type: none;
  margin-inline-start: 10%;
  font-family: 'Bebas Neue';
  font-size: 2.5vw;
  color: #F38A1F;
  padding: .2em .4em;
  text-decoration: none; }
  .footer__menuFooter li {
    display: inline; }
    .footer__menuFooter li a {
      margin-inline-start: 1.5em;
      font-family: 'Bebas Neue';
      padding: 1em;
      display: inline;
      color: #F3861F;
      text-decoration: none;
      justify-content: space-around; }

.footer__creditos {
  text-align: center;
  margin-bottom: 4%;
  font-size: 2.5vw; }

/* ---------------*/
/*-----------------------*/
/*CONTENIDO INDEX*/
.media {
  margin-left: .5em;
  margin-right: .5em;
  border: 1px solid #1A1A13;
  padding: 1%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  display: block;
  justify-content: space-between; }
  .media h1,
  .media h2 {
    font-family: 'Bebas Neue', cursive;
    color: #F3661F;
    margin-left: .1em;
    font-size: 45px;
    padding-top: 10px; }
  .media p {
    color: #F38A1F;
    font-family: 'Archivo', sans-serif;
    padding: 5px;
    font-size: larger;
    margin-right: 2em;
    line-height: 30px;
    padding-top: 2em; }
  .media .banner {
    width: 100%;
    height: auto; }

/* MFAcercaDe.html*/
.acercaDe {
  margin-inline-start: .5em;
  align-self: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  margin-top: .5em;
  margin-right: .5em; }
  .acercaDe .acercaDe__body {
    display: flex;
    flex-direction: column-reverse; }
    .acercaDe .acercaDe__body .acercaDe__texto {
      margin-left: 2em;
      margin-right: 2em; }
      .acercaDe .acercaDe__body .acercaDe__texto h1 {
        font-family: 'Bebas Neue', cursive;
        color: #F3661F;
        margin-left: .1em;
        font-size: 45px;
        padding-top: 2em; }
      .acercaDe .acercaDe__body .acercaDe__texto p {
        color: #F38A1F;
        font-family: 'Archivo', sans-serif;
        padding: 5px;
        margin-right: 2%;
        line-height: 30px;
        padding-top: 2em;
        font-size: 20px; }
  .acercaDe .acercaDe__container {
    margin-left: 1em;
    margin-right: 2em; }
    .acercaDe .acercaDe__container .acercaDe__body--banner {
      width: 45%;
      max-width: 100%;
      height: auto;
      transform: rotate(90deg) translateY(-30%); }

/* MFLineUp.html */
.lineup__container {
  display: flex;
  flex-direction: row; }

.section__lineUp {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  width: 47em;
  flex-wrap: wrap;
  background-color: #161612;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32); }
  .section__lineUp h1 {
    font-family: 'Bebas Neue', cursive;
    color: #F36A1F;
    text-align: center;
    font-size: 50px;
    padding-top: .3em;
    margin-top: .2em;
    color: #F36A1F;
    height: 60px; }

.section__pelicula {
  margin-block-start: 10px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em; }
  .section__pelicula h2 {
    font-family: 'Bebas Neue', cursive;
    margin-left: 0px;
    padding: 0px;
    font-size: 30px;
    height: 30px;
    background-color: #F36A1F;
    color: #161612; }
  .section__pelicula .section__pelicula--sinopsis {
    display: flex;
    flex-direction: row; }
    .section__pelicula .section__pelicula--sinopsis .poster {
      margin-top: 1em;
      width: 10em;
      height: 15em;
      box-shadow: 0 1px 4px 0 #F36A1F; }
    .section__pelicula .section__pelicula--sinopsis .poster:hover {
      transform: scale(2, 2);
      transition: transform .5s; }
    .section__pelicula .section__pelicula--sinopsis p {
      margin-left: .5em;
      color: #F38A1F;
      font-family: 'Archivo', sans-serif;
      padding: 5px;
      margin-right: 2%;
      line-height: 2em;
      font-size: 1.2em; }

/* MFContacto.html*/
/*FORMULARIO*/
.body__contacto {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  display: flex;
  flex-direction: column; }
  .body__contacto .formulario__container {
    padding: 2em;
    font-family: 'Bebas neue';
    color: #F36A1F; }
    .body__contacto .formulario__container .formulario__nombre label {
      font-family: 'Bebas neue';
      margin-bottom: 2em;
      color: #F3861F;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612; }
    .body__contacto .formulario__container .formulario__nombre input {
      font-family: 'Bebas neue';
      margin-top: 1em;
      margin-bottom: 1em;
      color: #F3861F;
      background-color: black; }
    .body__contacto .formulario__container .formulario__correo label {
      font-family: 'Bebas neue';
      margin-bottom: 2em;
      color: #F38A1F;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612; }
    .body__contacto .formulario__container .formulario__correo input {
      font-family: 'Bebas neue';
      margin-top: 1em;
      margin-bottom: 1em;
      color: #F38A1F;
      background-color: black; }
    .body__contacto .formulario__container .formulario__tipoDeMensaje select {
      width: 20em;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 2em;
      font-family: 'Bebas neue';
      color: #F38A1F; }
    .body__contacto .formulario__container .formulario__mensaje {
      border-radius: 2px; }
    .body__contacto .formulario__container label {
      margin-bottom: 2em;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32); }
    .body__contacto .formulario__container select {
      width: 20em;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 1em; }
    .body__contacto .formulario__container input {
      margin-top: 1em;
      margin-bottom: 1em; }
  .body__contacto .body__contacto--data {
    display: block;
    margin-top: 2em;
    margin-left: 1em;
    padding-left: 1em; }
    .body__contacto .body__contacto--data h1,
    .body__contacto .body__contacto--data h2 {
      font-family: 'Bebas neue';
      margin-left: 0px;
      padding: 0px;
      font-size: 2em;
      height: 30px;
      color: #F36A1F; }
    .body__contacto .body__contacto--data iframe {
      width: 100%;
      height: 100%;
      padding-right: 2em; }
    .body__contacto .body__contacto--data .body__contacto--redes {
      margin-top: 1em;
      font-family: 'Archivo';
      margin-right: 4em;
      padding: 0px;
      font-size: 1em;
      color: #F36A1F; }

/*MFMerchandisingProximamente*/
.merchandising__proximamente {
  margin-top: .2em;
  margin-bottom: 1.8em;
  height: 30em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
  background-color: #161612;
  /*-----------------------------------*/ }
  .merchandising__proximamente .merchandising__logo {
    margin-top: 50px;
    padding-top: 4em;
    width: 2em; }
    .merchandising__proximamente .merchandising__logo h1 {
      margin-left: 1em;
      font-family: 'ShlopShloppy-Regular';
      color: #F38A1F;
      text-shadow: -.05em -.0010em #913106;
      font-size: 16vw;
      margin-right: 4em; }
  .merchandising__proximamente .merchandising__newsletter {
    margin-left: 2em; }
    .merchandising__proximamente .merchandising__newsletter label {
      margin-top: 30px;
      margin-left: 5em;
      size: 70vw 50vw;
      font-family: 'Bebas neue';
      margin-bottom: 2em;
      color: #F38A1F;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612;
      justify-content: center; }
    .merchandising__proximamente .merchandising__newsletter input {
      margin-left: 5em;
      padding: 10px;
      width: 15em;
      justify-content: center; }

@media (min-width: 768px) {
  .section__lineUp {
    width: auto;
    justify-self: center; }
  /* MFContacto.html*/
  /*FORMULARIO*/
  .body__contacto {
    margin-left: 2em;
    margin-right: 2em;
    flex-direction: row; }
    .body__contacto .body__contacto--data {
      margin-left: 2em;
      padding-left: 4em; }
      .body__contacto .body__contacto--data h1, .body__contacto .body__contacto--data h2 {
        font-size: 2.5em;
        margin-bottom: 1em; }
      .body__contacto .body__contacto--data iframe {
        min-width: 100%;
        height: 250px;
        padding-right: 2em; }
  /*MFMerchandisingProximamente*/
  .merchandising__proximamente {
    margin-top: .2em;
    margin-bottom: 1.8em;
    height: 30em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
    background-color: #161612; }
    .merchandising__proximamente .merchandising__logo {
      margin-left: -2em;
      margin-top: 50px;
      padding-top: 4em;
      width: 2em; }
      .merchandising__proximamente .merchandising__logo h1 {
        font-family: 'Shlop';
        color: #F38A1F;
        text-shadow: -0.04em -.020em #913106;
        font-size: 16vw;
        margin-right: 8em; }
    .merchandising__proximamente .merchandising__newsletter label {
      margin-top: 30px;
      margin-left: 18em;
      size: 70px 50px;
      font-family: 'Bebas neue';
      margin-bottom: 10em;
      color: #F38A1F;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612; }
    .merchandising__proximamente .merchandising__newsletter input {
      margin-left: 5em;
      padding: 10px;
      width: 15em; }
  /*-----------------------------------*/
  .footer__menuFooter {
    list-style-type: none;
    font-family: 'Bebas Neue';
    font-size: 2.5vw;
    color: #F38A1F;
    margin-left: 5vw;
    text-decoration: none; }
    .footer__menuFooter li {
      display: inline; }
      .footer__menuFooter li a {
        margin-inline-start: 2.5em;
        font-family: 'Bebas Neue';
        padding: 1em;
        display: inline;
        color: #F3861F;
        text-decoration: none;
        justify-content: space-around; }
  .footer__creditos {
    text-align: center;
    margin-bottom: 4%;
    font-size: 2.5vw; } }

@media (min-width: 992px) {
  .header__header--index {
    min-height: 550px;
    max-width: auto; }
  /*NAVBAR DEL SITIO ENTERO*/
  .header__navbar {
    border: 1px solid #1A1A13;
    border-radius: 25px;
    background-color: #161612;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
    margin: 15px 5em 0px 5em;
    max-width: auto;
    padding: 1em 15vw; }
    .header__navbar .container-fluid {
      display: inline-block; }
      .header__navbar .container-fluid .logo {
        max-width: 250px;
        margin-left: 17vw; }
      .header__navbar .container-fluid .navbar-nav {
        display: flex;
        flex-direction: row;
        text-align: center; }
        .header__navbar .container-fluid .navbar-nav .nav-item {
          list-style-type: none;
          margin-left: 4vw;
          font-family: 'Bebas Neue';
          font-size: 125%;
          padding: 4px 10px;
          text-decoration: none;
          text-align: center;
          justify-content: space-around; }
          .header__navbar .container-fluid .navbar-nav .nav-item a:hover {
            background-color: #F38A1F;
            color: black; }
          .header__navbar .container-fluid .navbar-nav .nav-item li a {
            display: block;
            margin-inline-start: 0%;
            font-family: 'Bebas Neue';
            font-size: 115%;
            display: inline;
            text-decoration: none;
            color: #F38A1F; }
        .header__navbar .container-fluid .navbar-nav .nav-link {
          color: #F38A1F;
          padding: 10px; }
        .header__navbar .container-fluid .navbar-nav .dropdown-menu {
          width: 50% !important;
          height: 100px !important;
          background-color: #1a1a15;
          text-align: center;
          padding-bottom: 2em; }
          .header__navbar .container-fluid .navbar-nav .dropdown-menu .dropdown-menu:hover {
            background-color: #1a1a15; }
  /*FOOTER DE TODO EL SITIO*/
  .footer__nav {
    padding-left: 2em;
    justify-content: space-between; }
    .footer__nav .footer__creditos {
      text-align: center;
      margin-bottom: 4%;
      font-size: 1.5vw; }
    .footer__nav .footer__menuFooter {
      font-size: 2.5vw; }
      .footer__nav .footer__menuFooter li a {
        margin-inline-start: 8em;
        font-size: 20px;
        padding: 10px;
        padding: 4px 6px; }
  /*-----------------------*/
  /*CONTENIDO INDEX*/
  .media {
    display: flex;
    flex-direction: row; }
    .media .media-body {
      flex-wrap: nowrap; }
      .media .media-body h1,
      .media .media-body h2 {
        margin-left: .1em;
        font-size: 45px;
        padding-top: 10px; }
      .media .media-body p {
        margin-right: 2em;
        line-height: 30px;
        padding-top: 1em; }
    .media .banner {
      padding-left: 1em;
      height: 25em;
      width: auto;
      padding-top: 10px; }
  /* MFAcercaDe.html*/
  .acercaDe .acercaDe__body {
    display: flex;
    flex-direction: row; }
    .acercaDe .acercaDe__body .acercaDe__texto {
      margin-left: 4em; }
      .acercaDe .acercaDe__body .acercaDe__texto h1 {
        margin-left: .1em;
        font-size: 3.5em;
        margin-top: -1em; }
      .acercaDe .acercaDe__body .acercaDe__texto p {
        font-size: 20px;
        margin-right: 4em;
        line-height: 2.5em;
        padding-top: .8em; }
  .acercaDe .acercaDe__container {
    margin-right: 4em;
    margin-top: -7em;
    margin-left: 4em; }
    .acercaDe .acercaDe__container .acercaDe__body--banner {
      width: 1000px;
      height: auto;
      transform: rotate(-180deg) translateY(-30%);
      margin-bottom: 15em; }
  /* MFLineUp.html */
  .lineup__container {
    display: flex;
    flex-direction: row; }
  .section__lineUp {
    margin-left: 8em;
    width: 80vw;
    justify-self: center; }
  /* MFContacto.html*/
  /*FORMULARIO*/
  .body__contacto {
    margin-left: 5em;
    margin-right: 5em; }
    .body__contacto .formulario_container {
      margin-left: 4em;
      width: 30em;
      padding-left: 10em;
      margin-right: 40em; }
    .body__contacto .body__contacto--data {
      margin-left: 2em;
      padding-left: 2em; }
      .body__contacto .body__contacto--data h1, .body__contacto .body__contacto--data h2 {
        font-size: 2.5em;
        margin-bottom: 1em; }
      .body__contacto .body__contacto--data iframe {
        width: 525px;
        height: 250px;
        padding-right: 2em; }
  /*MFMerchandisingProximamente*/
  .merchandising__proximamente {
    margin-top: .2em;
    margin-bottom: 1.8em;
    height: 30em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
    background-color: #161612; }
    .merchandising__proximamente .merchandising__logo {
      margin-left: -2em;
      margin-top: 50px;
      padding-top: 4em;
      width: 2em; }
      .merchandising__proximamente .merchandising__logo h1 {
        font-family: 'Shlop';
        color: #F38A1F;
        text-shadow: -0.04em -.020em #913106;
        font-size: 16vw;
        margin-right: 8em; }
    .merchandising__proximamente .merchandising__newsletter label {
      margin-top: 30px;
      margin-left: 18em;
      size: 70px 50px;
      font-family: 'Bebas neue';
      margin-bottom: 10em;
      color: #F38A1F;
      padding: 0.5%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
      background-color: #161612; }
    .merchandising__proximamente .merchandising__newsletter input {
      margin-left: 5em;
      padding: 10px;
      width: 15em; }
  /*-----------------------------------*/ }
