/*VARIABLES*/
$naranja-claro: #F38A1F;
$naranja-hover: #F36A1F;
$negro:#161612;
@font-face {
    font-family: theBold;
    @import url(//db.onlinewebfonts.com/c/bb45f7c1aa890db9f527bc3790fc8c52?family=ShlopShloppy-Regular);
}

@font-face {
    font-family: Shlop;
    src: url(/font/Shlop.ttf);
}

/*-----------------------------------*/