/*VARIABLES*/
$naranja-claro: #F38A1F;
$naranja-hover: #F36A1F;
$negro:#161612;
@font-face {
    font-family: theBold;
    src: url(/font/theboldfont.ttf);
}

@font-face {
    font-family: Shlop;
    src: url(/font/Shlop.ttf);
}

/*-----------------------------------*/